.header {
    width: 100vw;
    height: 10rem;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #edeef0;
    
}

.header > h1 {
    width: 40%;
    color: #edeef0;
}

.header > nav {
    width: 60%;
    display: flex;
    justify-content: center;
}